# Virtual Environment
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# PyInstaller & Compilação
build/
dist/
*.spec

# Pasta de saída do instalador (Inno Setup)
installer_output/

# Arquivo de banco de dados local 
data/notes.json
